<th:block th:replace="_header :: _"></th:block>
<h4>Thêm/Sửa</h4>
<form th:action="${item.id} != null ? @('/departments/' + ${item.id}) : @('/departments')" method="post" class="bg-white p-3 rounded shadow-sm">
<div class="mb-2"><label class="form-label">name</label>
<input class="form-control" name="name" th:value="${item.name}"/></div>
<div class="mb-2"><label class="form-label">facility</label>
<input class="form-control" name="facility" th:value="${item.facility}"/></div>
<button class="btn btn-primary">Lưu</button>
<a href="/departments" class="btn btn-secondary">Trở về</a>
</form>
<th:block th:replace="_footer :: _"></th:block>