<th:block th:replace="_header :: _"></th:block>
<h4>Danh sách departments</h4>
<a class="btn btn-success mb-2" href="/departments/new">Thêm</a>
<table class="table table-bordered bg-white">
  <thead><tr><th>ID</th><th>name</th><th>facility</th><th>Hành động</th></tr></thead><tbody>
<tr th:each="it: ${items}">
  <td th:text="${it.id}"></td>
  <td th:text="${it.name}"></td>
  <td th:text="${it.facility}"></td>

  <td>
    <a class="btn btn-sm btn-primary" th:href="@('/departments/' + ${it.id} + '/edit')">Sửa</a>
    <form th:action="@('/departments/' + ${it.id} + '/delete')" method="post" style="display:inline">
      <button class="btn btn-sm btn-danger" onclick="return confirm('Xóa?')">Xóa</button>
    </form>
  </td>
</tr>
</tbody></table>
<th:block th:replace="_footer :: _"></th:block>
