<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OOP-Ql-PK</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Phòng khám</a>
    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/patients">Bệnh nhân</a></li>
        <li class="nav-item"><a class="nav-link" href="/staff">Bác sĩ & Nhân viên</a></li>
        <li class="nav-item"><a class="nav-link" href="/departments">Khoa/Phòng</a></li>
        <li class="nav-item"><a class="nav-link" href="/rooms">Phòng/Giường</a></li>
        <li class="nav-item"><a class="nav-link" href="/equipment">Thiết bị</a></li>
        <li class="nav-item"><a class="nav-link" href="/admissions">Nhận phòng</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container py-4">
