<th:block th:replace="_header :: _"></th:block>
<h4>Thêm/Sửa</h4>
<form th:action="${item.id} != null ? @('/patients/' + ${item.id}) : @('/patients')" method="post" class="bg-white p-3 rounded shadow-sm">
<div class="mb-2"><label class="form-label">code</label>
<input class="form-control" name="code" th:value="${item.code}"/></div>
<div class="mb-2"><label class="form-label">fullName</label>
<input class="form-control" name="fullName" th:value="${item.fullName}"/></div>
<div class="mb-2"><label class="form-label">address</label>
<input class="form-control" name="address" th:value="${item.address}"/></div>
<div class="mb-2"><label class="form-label">phone</label>
<input class="form-control" name="phone" th:value="${item.phone}"/></div>
<button class="btn btn-primary">Lưu</button>
<a href="/patients" class="btn btn-secondary">Trở về</a>
</form>
<th:block th:replace="_footer :: _"></th:block>